<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Morning</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>09:00</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/setup/">Setup</a></td>
      </tr>
      <tr>
        <td>09:10</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/01-basics/">Automated Version Control</a></td>
      </tr>
      <tr>
        <td>09:20</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/02-setup/">Setting Up Git</a></td>
      </tr>
      <tr>
        <td>09:25</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/03-create/">Creating a Repository</a></td>
      </tr>
      <tr>
        <td>09:35</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/04-changes/">Tracking Changes</a></td>
      </tr>
      <tr>
        <td>09:55</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/05-history/">Exploring History</a></td>
      </tr>
      <tr>
        <td>10:20</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/06-ignore/">Ignoring Things</a></td>
      </tr>
      <tr>
        <td>10:25</td>
        <td>Coffee Break</td>
      </tr>
      <tr>
        <td>10:45</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/07-branches/">Branches</a></td>
      </tr>
      <tr>
        <td>11:05</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/08-conflict/">Conflicts</a></td>
      </tr>
      <tr>
        <td>11:20</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/09-github/">Remotes in GitHub</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Afternoon</h3>
    <table class="table table-striped">
      <tr>
        <td>12:00</td>
        <td>Lunch Break</td>
      </tr>
      <tr>
        <td>13:30</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/10-pull-requests/">Pull Requests</a></td>
      </tr>
      <tr>
        <td>14:15</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/11-open/">Open Science</a></td>
      </tr>
      <tr>
        <td>14:25</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/12-licensing/">Licensing</a></td>
      </tr>
      <tr>
        <td>14:30</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/13-citation/">Citation</a></td>
      </tr>
      <tr>
        <td>14:35</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/14-hosting/">Hosting</a></td>
      </tr>
      <tr>
        <td>14:45</td>
        <td><a href="https://carpentries-incubator.github.io/git-novice-branch-pr/15-supplemental-rstudio/">Using Git from RStudio</a></td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Wrap</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>After ending</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
